@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "styles/Arrows.css";

/*#region ROOT*/
:root {
  --text: #f3f1ec;
  --background: #3a8376;
  --primary: #daf6e3;
  --secondary: #af6818;
  --accent: #e7a150;
}

/*#endregion ROOT */

* {
  font-family: "Geologica", sans-serif;
}

.section_container {
  position: relative;
  padding: 2rem 0;
}

.card {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.2s;
  height: 100% !important;
}

.card-title {
  height: 60% !important;
}

.card-img-top {
  object-fit: cover;
}

.card:hover {
  transform: scale(1.05);
}

.bi-star:hover,
.bi-cart3:hover {
  color: green;
}