:root {
  --text: #f3f1ec;
  --background: #3a8376;
  --primary: #daf6e3;
  --secondary: #af6818;
  --accent: #e7a150;
}

.upper-header{
    background-color: var(--accent);
    color: white;
}

.header-logo-belowLg{
    height: 70px;
    transition: 0.15s;
}

.header-logo-fromLg{
    height: 80px;
    transition: 0.2s;
}

.header-logo-belowLg:hover,
.header-logo-fromLg:hover{
    margin-left: 6px;
    cursor: pointer;
}

.header-logo-belowLg:hover{
    rotate: 15deg;
}

li{
    font-size: 18px;

    p,i{
        color: var(--background);
        transition: 0.2s;

        &:hover{
            color: var(--accent);
        }
    }
}

.search-btn{
    color: var(--background);
    border-radius: 10px;
    padding: 5px 10px;
    border: 2px solid var(--background);
    background-color: transparent;
    transition: 0.2s;

    &:hover{
        border: 2px solid var(--accent);
        color: var(--accent);
    }

    &:active{
        border: 2px solid var(--accent);
        background-color: var(--accent);
        color: white;
    }
}

.offcanvas-btn{
    font-size: 25px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: var(--background);
    transition: 0.2s;

    &:hover{
        color: var(--accent);
        box-shadow: 0 0 5px #e7a150;
    }
    
    &:active{
        box-shadow: 0 0 5px #e7a150;
    }
}