/*#region ROOT*/
:root {
  --text: #f3f1ec;
  --background: #3a8376;
  --primary: #daf6e3;
  --secondary: #af6818;
  --accent: #e7a150;
}
/*#endregion ROOT */

.hp_bg {
  background-color: var(--background);
  font-family: "Geologica", sans-serif;
}
